/*material design color scheme https://material.io/color/#!/?view.left=0&view.right=0&primary.color=039BE5*/

body {
    background-color: #029be5;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.container {
    min-height: 320px;
    min-width: 320px;
    width: 80vh;
    height: 80vh;
    margin: auto;
}

.game-screen {
    background-color: #63ccff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*start screen*/

.start-screen {
}

.pacman-pic img {
    width: 50px;
}

/*play screen*/
.play-screen {
    display: none;
}

.table {
    display: flex;
    min-height: 320px;
    min-width: 320px;
    /*width: 500px;*/
    /*height: 500px;*/
    align-items: stretch;
    flex-direction: column;
    border: 0 solid transparent;
}

.table > div {
    display: flex;
    flex-grow: 1;
}

.table > div > div {
    flex-grow: 1;
    margin: 0;
    border: 0 solid transparent;
}

.dots {
    background-image: url("../images/icons/hamburger.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pacMan {
    background-image: url("../images/logo1.svg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.wall {
    background-color: #029be5;
}

/*end-screen*/

.end-screen {
    display: none;
}