/*material design color scheme https://material.io/color/#!/?view.left=0&view.right=0&primary.color=039BE5*/

body {
    background-color: #302f3d;

}

h1 {
    text-align: center;
    color: #e8e9ea;
}
.container {
    min-height: 320px;
    min-width: 320px;
    width: 80vh;
    height: 80vh;
    margin: auto;
}

.game-screen {


}

/*start screen*/

.start-screen {
    background-color: green;
}

.pacman-pic img {
    width: 50px;
}


/*play screen*/
.play-screen {
    display: none;
    background-color: #05b2f7;
    align-items: center;
    justify-content: center;
}

.table {
    display: flex;
    min-height: 320px;
    min-width: 320px;
    width: 500px;
    height: 500px;
    align-items: stretch;
    flex-direction: column;
    border: 1px solid black;
}



.table > div {
    display: flex;
    flex-grow: 1;
}

.table > div > div {
    flex-grow: 1;
    margin: 0;
    border: 0 solid grey;
}

.pacMan {
    background: yellow;
    border-radius: 100%;
}

.dots {
    background-color: #B71C1C;
    width: 10%;
    height: 10%;
    border-radius: 100%;
}


.burger {
    background: #0c0;
}

.wall {
    background: black;
}


/*end-screen*/

.end-screen {
    display: none;
    background-color: aquamarine;
}