body {
    background-color: #302f3d;
}

h1 {
    text-align: center;
    color: #e8e9ea;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-screen {
    width: 40vw;
    height: 40vw;
}


/*start screen*/

.start-screen {
    background-color: green;
}

.pacman-pic img {
    width: 50px;
}

/*play screen*/

.play-screen {
    background-color: #05b2f7;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.table {
    display: flex;
    width: 700px;
    height: 700px;
    align-items: stretch;
    flex-direction: column;
}

.table > div {
    display: flex;
    flex-grow: 1;
}

.table > div > div {
    flex-grow: 1;
    margin: 0;
    border: 1px solid black;
}
/*end screen*/

.end-screen {
    background-color: aquamarine;
}