body {
    padding: 0;
    margin: 0;
}
.nav-out-cont {
    background: white;
    border-bottom: 1px solid #d9ded8;
    position: fixed;
    top: 0;
    width: 100%;
}
nav {
    margin: 0 auto;
    height: 70px;
    width:80%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-flex {
    align-self: flex-start;
}

nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    text-transform: uppercase;
}
nav a {
    text-decoration: none;
    font-family: Arial;
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    padding: 7px 20px;
    border-radius: 50px;
    display: inline-block;
}
nav a:hover {
    color: white;
    background-color: dodgerblue;
}
#top_logo {

    height: 40px;
}
.top-sec-margin {
    margin-top: 100px;
}

.team-out-cont {
    background-color: gold;
}

.desc-out-cont {
    background-color: darkorange;
}

.foot-out-cont {
    background-color: orange;
    }

.sign-out-cont {
    background-color: rosybrown;
}

.fun-out-cont {
    background-color: yellow;
}

section {
    height: 100vh;
}