.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
align-content: space-between;
    height: 300px;
}

.feature {
    background-color: #369;
    color: white;
    width: 40%;
    margin-top: 2%;
    text-align: center;
}

.feature-image {

}